<!DOCTYPE html>
<html>
<head>
    <head>
        <title>Altor</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    </head>
</head>
<body>
<%include partials/header.ejs %>
<section>
    <%- body -%>
</section>
</body>
</html>