extends layout

append body
    .container
        #banner.div.page-header
        .row
            // Main jumbotron for a primary marketing message or call to action
            .jumbotron
                h1 Altor
                p
                    | Mange your life.
        .row
            .col-md-6
                .p This is a column.
            .col-md-6
                .p This is another column.