<% layout('boilerplate') -%>
<br>
<h1>Registered Users:</h1>

<ul>
    <%eUser.forEach(function(user){%>
    <li><%=user.local.email%>
        <a href="/del-user?email=<%=user.local.email%>"> delete</a></li>
    <%});%>
</ul>