<% layout('boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><span class="fa fa-sign-in"></span>Registered Users</h1>
        </div>
    </div>
    <div class="row">
        <% eUser.forEach(function(user){ %>
        <div class="col-sm-10 well well-sm">
            <%= user.email %>
        </div>
        <div class="col-sm-2">
            <a href="/del-user?email=<%= user.email %>" class="btn btn-default">delete</a>
        </div>
        <% }); %>
    </div>
</div>