<% layout('boilerplate') %>
<div class="container" style="width:800px; margin:0 auto;">
    <% for(var i = 0;i < book.pages.length;i++){ %>
    <div class="row" id="<%= i + 'page' %>" >


        <div class="col-lg-12 well well-md">
            <div class="row" style="font-size: 20px;"> </div>
            <div class="row" style="text-align: center; font-size:20px; padding: 5%;">
                <%= book.pages[i] %>
            </div>

            <div class="row" style="width: 50%; margin: 0 auto;">

                <button  type="button" class="btn btn-primary btn-lg" onclick="startRecording()" >התחל להקליט!</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="stopRecording()" >הפסק
                    להקליט!
                </button>

            </div>


        </div>


    </div>
    <% }; %>
</div>


<!--<script>-->

    <!--$(document).ready(function () {-->
        <!--var x = $('#0page')[0];-->
        <!--x.style.display = "inline";-->
    <!--});-->


    <!--function startRec(btnStart){-->
        <!--var idOfBtn = btnStart.id;-->


        <!--startRecording()-->
    <!--}-->

<!--</script>-->