<% layout('boilerplate') %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- LOGIN FORM -->
            <h1><span class="fa fa-sign-in"></span>בחר ספר</h1>

            <div class="list-group">
                <a href="/books/leaf" class="list-group-item">מה אפשר לעשות בעלה</a>

            </div>
        </div>
    </div>
</div>