<% layout('boilerplate') -%>
<div class="container">
    <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Mange your life</p>
        <p><a class="btn btn-primary btn-lg">למד עוד</a></p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg" href="/client-sign-up">הרשמת לקוחות</a>
        </div>
        <div class="col-md-6">
            <div class="center-block">
                <a class="btn btn-primary btn-lg" href="/business-sign-up">הרשמת עסקים</a>
            </div>
        </div>

    </div>
</div>