<% layout('boilerplate') %>
<div class="container">
    <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Mange your life</p>
        <% if (user && user.role == 'client') { %>
        <div> You are logged in as a user! email: <%= user.email %></div>
        <% } else if (user) { %>
        <div> You are logged in as a business! email: <%= user.email %></div>
        <% } %>
    </div>
</div>