<% layout('boilerplate') %>
<div class="container">
    <div class="jumbotron">
        <h1>Readem</h1>
        <p>לקרוא זה כיף!</p>
        <% if (user && user.role == 'client') { %>
        <div> אתה מחובר כתלמיד <%= user.email %></div>
        <% } else if (user) { %>
        <div> את מחוברת כמורה <%= user.email %></div>
        <% } %>
    </div>
    <% include ../partials/messages.ejs%>
</div>