<% layout('boilerplate') %>
<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center"><%= title %></h1>
        <p style="text-align: center">Mange your life</p>
        <% if (user) {%>
        <div> Hello <%= user.local.email %>!</div>
        <% } else if (business) { %>
        <div> You are logged in as a business! email: <%= business.email %></div>

        <% } else { %>
    </div>
    <div class="row">
        <!--<div class="col-md-6">-->
            <!--<a class="btn btn-primary btn-lg" href="/client-sign-up">הרשמת לקוחות</a>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<div class="center-block">-->
                <!--<a class="btn btn-primary btn-lg" href="/business-sign-up">הרשמת עסקים</a>-->
            <!--</div>-->
        <!--</div>-->
        <% } %>
    </div>
</div>
