<% layout('boilerplate') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
    <h1><span class="fa fa-sign-in"></span>התחבר</h1>
    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>דואר אלקטרוני</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>סיסמא</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">התחבר</button>
    </form>
    <hr>

    <p>אין לך משתמש? <a href="/client-sign-up">הרשם עכשיו!</a></p>
    <p>או שתעבור ל<a href="/">מסך הבית</a>.</p>
            </div>
        </div>
    </div>
